
/*Nav*/

.nav-img:hover {
      transform: scale(.96); 
      transition: transform 0.5s;
}

.nav-img:active {
      transform: scale(.94);
      transition: transform 0.2s;
}



/*About */
.s2i {
      color:  $font-color-about;
}

.s2i:hover {
      color: lighten($font-color-about, 20%);
}


/*Skills*/

.works:hover {
      text-shadow: 7px 7px 8px black;
      transition: text-shadow 0.5s;
}


/*Contacts*/

.submit {
      padding: 10px 50px;
      background-color: aquamarine;
      border: none;
      border-radius: 5%;
      

      font-family: "Open sans", sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: rgb(34, 98, 238);
}
    


.submit:hover {
      font-family: "Open sans", sans-serif;
      cursor: pointer;
      transform: scale(.97);
      transition: transform 0.5s;
}

.submit:active {
      transform: scale(.92);
      transition: transform 0.3s;
}


.contact-img:hover {
      transform: scale(1.08);
      transition: transform 0.5s;
}

.contact-img:active {
      transform: scale(0.95);
      transition: transform 0.3s;

}